<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <connectionStrings>
    <add name="Bitcoin_Notify" connectionString="Data Source=win-s78rlfgopk6\SQLExpress; Database=Bitcoin_Notify; Integrated Security=true;"/>
    <add name="Bitcoin_NotifyConnectionString" connectionString="Data Source=win-s78rlfgopk6\SQLExpress;Initial Catalog=Bitcoin_Notify;Integrated Security=True"/>
    
  </connectionStrings>
  <SubSonicService defaultProvider="Bitcoin_Notify">
    <providers>
      <clear/>
      <add name="Bitcoin_Notify" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="Bitcoin_Notify" generatedNamespace="Bitcoin_Notify_DB"/>
    </providers>
  </SubSonicService>
  <appSettings>
    <add key="Coinmkt_API_Key" value="EB6E41D73C5C47C3BC3C8F924ABDA321"/>
    <add key="CurrencyCloud_login_id" value="Lorne@Lornestar.com"/>
    <add key="CurrencyCloud_api_key_demo" value="bd27b790e4761aed3fddfe178774505770d5e1e365f5ce14aeddb0cc52602183"/>
    <add key="CurrencyCloud_api_url_demo" value="https://devapi.thecurrencycloud.com"/>
    <add key="CurrencyCloud_Environment" value="1"/>
    <add key="Sendgrid_username" value="Zinger"/>
    <add key="Sendgrid_pwd" value="knowledgemanagement1"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <healthMonitoring enabled="true">
      <eventMappings>
        <clear/>
        <!-- Log ALL error events -->
        <add name="All Errors" type="System.Web.Management.WebBaseErrorEvent" startEventCode="0" endEventCode="2147483647"/>
        <!-- Log application startup/shutdown events -->
        <add name="Application Events" type="System.Web.Management.WebApplicationLifetimeEvent" startEventCode="0" endEventCode="2147483647"/>
      </eventMappings>
      <providers>
        <clear/>
        <!-- Provide any customized SqlWebEventProvider information here (such as a different connection string name value -->
      </providers>
      <rules>
        <clear/>
      </rules>
    </healthMonitoring>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Bitcoin_Notify.Service1" behaviorConfiguration="Bitcoin_Notify.Service1Behavior">
        <!-- Service Endpoints -->
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="" contract="Bitcoin_Notify.Service1" behaviorConfiguration="restfulBehavior">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Bitcoin_Notify.Service1Behavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
