<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=win-s78rlfgopk6\SQLExpress; Database=Hangfire; Integrated Security=true;" />
	</connectionStrings>

	<appSettings>
		<add key="API_base_url" value="http://localhost:57280/service1.svc" />


	</appSettings>
	
  <system.web>

	  <healthMonitoring enabled="true">
		  <eventMappings>
			  <clear/>
			  <!-- Log ALL error events -->
			  <add name="All Errors" type="System.Web.Management.WebBaseErrorEvent" startEventCode="0" endEventCode="2147483647"/>
			  <!-- Log application startup/shutdown events -->
			  <add name="Application Events" type="System.Web.Management.WebApplicationLifetimeEvent" startEventCode="0" endEventCode="2147483647"/>
		  </eventMappings>
		  <providers>
			  <clear/>
			  <!-- Provide any customized SqlWebEventProvider information here (such as a different connection string name value -->
		  </providers>
		  <rules>
			  <clear/>

		  </rules>
	  </healthMonitoring>
	  
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>